header{
    background-color: #6AAAF2;
    background-image: url(file:///Users/alessandrofranco/Desktop/Esercizi%20Boolean/html-css-booleaner/img/img/pattern.png);
    background-size: 30%;
    height: 100px;
}

.pattern {
    display: inline-block;
}

th{
    background-color: #6AAAF2;
    color: white;
}

footer{
    font-size: 10px;
}

.inter {
    background-color: yellow;
}

.table-top{
    background-color: green;
}


h3{
    color: grey;
}